.topbar-logo {
    width: 42px;
    height: 42px;
    background: url("../assets/logo.png") top left no-repeat;
    background-size: 42px 42px;
}

 .topbar-subbar {
    background-color: #2E7D32;
    height: 30px;
 }