@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@fontsource/pt-sans/400.css');
@import url('@fontsource/pt-sans/700.css');

body {
  margin: 0;
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  background-color: rgb(200, 228, 201);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:visited {
  color: #2E7D32;
  text-decoration: none;
}

.highlightedCard {
  background-color: #fafad2;
}
